body {
    margin: 0;
    font-family: 'Shippori Mincho B1', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'Shippori Mincho B1', serif;
  }